$side-menu-width: 260px;
$menu-backdrop-z-index: 2;
$side-menu-z-index: 3;

#menu-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: $menu-backdrop-z-index;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.45);
}

#side-menu {
  position: fixed;
  top: 0;
  right: 0;
  z-index: $side-menu-z-index;
  max-width: 80%;
  width: $side-menu-width;
  height: 100%;
  background: #fff;
  transition: transform ease 0.5s;
  transform: translateX(100%);
  /* 優化幀數 */

  will-change: transform;
}

#side-menu.left {
  right: auto;
  left: 0;
  transform: translateX(-100%);
}

.is-menu-visible #side-menu {
  transform: translateX(0);
}

.is-menu-visible #menu-backdrop {
  display: block;
}

.position-fixed {
  position: fixed;
}

.overflow-hidden {
  overflow: hidden;
}